@model UserModel
@{
    ViewData["Results"] = "Results";
}
    <html>
    <body>
    <p>Welcome @Model.fname</p>
        <p> @Model.lname</p>
        <p> @Model.email</p>
        <p> @Model.pass</p>
    </body>
    </html>

